@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  color: var(--foreground);
  background: #181a1b;
}

/*Customize react responsive modal*/

.react-responsive-modal-modal {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0.8rem !important;
  outline: none !important;
}

/*Customize the scrollbar*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(151, 150, 150);
}

.Toastify__toast {
  font-family: "inconsolata" !important;
  font-size: 15px !important;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between; /* Distributes lines evenly */
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.041);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 20vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1)::after {
  animation-delay: 1s;
}

.line:nth-child(2)::after {
  animation-delay: 2s;
}

.line:nth-child(3)::after {
  animation-delay: 3s;
}

.line:nth-child(4)::after {
  animation-delay: 4s;
}

.line:nth-child(5)::after {
  animation-delay: 5s;
}

.line:nth-child(6)::after {
  animation-delay: 6s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
